

.login img {
  padding: 16px;
  margin-left: 80px;
  width: 160px;
  cursor: pointer;
}
.title{
  font-family: Poppins, sans-serif;
  color: #07038c;
  text-align: center;
  font-size: 82px;
}
.login-form {
  max-width: 450px;
  /* padding: 60px; */
  margin: auto;
  margin-top: 10px;
}
.login-form h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #07038c;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
}
.login-form input {
  width: 91%;
  height: 30px;
  border-style: solid;
  border-color: #07038c;
  color: rgb(0, 0, 0);
  margin: 12px 0;
  outline: 1px;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
}
.login-form input ::placeholder {
  font-size: 1.1rem;
  font-weight: 700;
}
.btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 14px;
  background: #07038c;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 200px;
  margin: 0 auto;
  cursor: pointer;
}
h4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color:#383838 ;
}
h4:before,
h4:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h4:before {
  margin-right: 10px;
}
h4:after {
  margin-left: 10px;
}
.google {
  display: flex;
  flex-direction: row;
  width: 50px;
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.google:hover{
  background-color: #f8f8f8;
}
.apple {
  display: flex;
  flex-direction: row;
  width: 50px;
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.apple:hover{
  background-color: #f8f8f8;
}
.facebook {
  display: flex;
  flex-direction: row;
  width: 50px;
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.facebook:hover{
  background-color: #f8f8f8;
}
.social{
  display: flex;
  flex-direction: row;
  gap: 6%;
}
.social img{
  width: 30px;
  margin: auto;
}
.form-switch {
  margin-top: 40px;
  color: #737373;
  font-family: Poppins, sans-serif;
}
.form-switch a {
  margin-left: 6px;
  color: #07038c;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.form-switch a:hover{
  color: #1f1b9e;
}

@media (max-width: 500px){
  .login img {
    margin-left: 15px;
  }
  .login-form {
    max-width: 350px;
    margin-top: 40px;
  }
  .btn{
    width: 362px;
  }
  .google {
    padding-left: 10px;
  }
  .apple {
    padding-left: 10px;
  }
  .facebook {
    padding-left: 10px;
  }
}